@import 'src/app/sharedCss/dashboard.css';

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 2%;
  width: 800px;
  height: 800px;
  background: rgba(140, 140, 140, 0.78);
}

.radio-inputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 2%;
  box-sizing: border-box;
  box-shadow: 0 0 0px 1px rgba(0, 0, 0, 0.06);
  width: 80%;
  font-size: xxx-large;
  margin: 0 auto  ;
  margin-top: 3%;
}

.radio-inputs .radio {
  flex: 1 1 auto;
  text-align: center;
}

.radio-inputs .radio input {
  display: none;
}

.radio-inputs .radio .name {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: none;
  padding: .5rem 0;
  color: rgb(245, 245, 245);
  transition: all .15s ease-in-out;
}

.radio-inputs .radio input:checked + .name {
  background-color: #151515;
  font-weight: 600;
}

.overflow-auto{
  height: 100%;
}

.chatCard {
  width: 100%;
  height: 15%;
  max-width: 80%;
  background: #cbcbcb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(10px);
  margin: 2% auto 0;
}


.img {
  flex-grow: 0.7;
  margin: 2%;
  height: 70%;
  border-radius: 50%;
  background-color: #555555;
}


.textBox {
  margin-right: 2%;
  flex-grow: 3;
  color: white;
  background: rgba(85, 85, 85, 0);
}

#userN{
  text-align: left;
  font-size: xx-large;
  color: black;
}

#recentM{
  color: black;
  font-style: italic;
}

