<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/login">Logout</a></li>
  <li><a >Delete Account</a></li>
</ul>

<div>
  <div *ngIf="showCards" id="content">
    <div class="card"  (click)="navigateToRouteSecondary('createGroup')" >
      <img src="" alt="User icon"/>
      <div class="container">
        <h1>Create Group</h1>
      </div>
    </div>
    <div class="card"  (click)="navigateToRouteSecondary('manageGroups')" >
      <img src="" alt="User icon"/>
      <div class="container">
        <h1>Manage Groups</h1>
      </div>
    </div>
    <div class="card" (click)="navigateToRouteSecondary('chatUI')" >
      <img src="" alt="User icon"/>
      <div class="container">
        <h1>Manage Groups</h1>
      </div>
    </div>
    <div class="card"  (click)="navigateToRouteSecondary('profileUI')" >
      <img src="" alt="User icon"/>
      <div class="container">
        <h1>Manage Profile</h1>
      </div>
    </div>
    <div class="card"  (click)="navigateToRouteSecondary('profileUI')" >
      <img src="" alt="User icon"/>
      <div class="container">
        <h1>Manage Users</h1>
      </div>
    </div>
  </div>

</div>


