<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/login">Logout</a></li>
  <li><a >Delete Account</a></li>
</ul>

<div id="content">
  <div class="card" (click)="navigateToRoute('/createGroup')" >
    <img src="" alt="User icon"/>
    <div class="container">
      <h1>Create Group</h1>
    </div>
  </div>

  <div class="card" (click)="navigateToRoute('/manageGroups')" >
    <img src="" alt="User icon"/>
    <div class="container">
      <h1>Manage Groups</h1>
    </div>
  </div>

  <div class="card" (click)="navigateToRoute('/manageGroups')" >
    <img src="" alt="User icon"/>
    <div class="container">
      <h1>Manage Groups</h1>
    </div>
  </div>

  <div class="card" (click)="navigateToRoute('/manageGroups')" >
    <img src="" alt="User icon"/>
    <div class="container">
      <h1>Manage Groups</h1>
    </div>
  </div>

  <div class="card" (click)="navigateToRoute('/manageGroups')" >
    <img src="" alt="User icon"/>
    <div class="container">
      <h1>Manage Groups</h1>
    </div>
  </div>


</div>


