<div id="page">
  <ul>
    <li><a routerLink="/home">Home</a></li>
    <li><a routerLink="/login">Logout</a></li>
    <li><a >Delete Account</a></li>
  </ul>


  <div id="content" >

    <div class="card"   >
      <img src="./assets/people.png" alt="User icon"/>
      <div class="container">
        <h1>Create Groups & Channels</h1>
      </div>
    </div>
    <div class="card"   >
      <img src="./assets/team-management.png" alt="User icon"/>
      <div class="container">
        <h1>Manage Groups</h1>
      </div>
    </div>
    <div class="card"  >
      <img src="./assets/man.png" alt="User icon"/>
      <div class="container">
        <h1>Manage Users</h1>
      </div>
    </div>
    <div class="card"   >
      <img src="./assets/user-profile.png" alt="User icon"/>
      <div class="container">
        <h1>Manage Profile</h1>
      </div>
    </div>

  </div>

</div>


