
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background: linear-gradient(to bottom, #4e54c8, #8f94fb);">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card text-center" style="width: 400px; height: 500px; background-color: rgba(93,93,93,0.73);">
          <div class="card-body p-5 text-center text-white">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="card-title mb-4">Sign Up</h2>
              <form (submit)="signup($event)" >
                <div class="form-group mb-4">
                  <label >Name</label>
                  <input name="name" [(ngModel)]='username' type="text" class="form-control" placeholder="Enter your name" >
                </div>
                <div class="form-group mb-4">
                  <label >Email address</label>
                  <input  name="email"  [(ngModel)]="email" class="form-control" placeholder="Enter your email">
                </div>
                <div class="form-group mb-4">
                  <label >Password</label>
                  <input name="password" [(ngModel)]="password" class="form-control"  placeholder="Enter your password">
                </div>
                <button type="submit" class="btn btn-dark btn-lg">Sign Up</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

