
<div class="d-flex justify-content-center align-items-center" style="height: 100vh; background: linear-gradient(to bottom, #4e54c8, #8f94fb);">
  <div class="card text-center text-white" style="width: 400px; height: 500px; background-color: rgba(93,93,93,0.73);">
    <div class="card-body d-flex flex-column justify-content-center">
      <h5 class="card-title">Welcome to Your App</h5>
      <p class="card-text">Please login or sign up to continue.</p>
      <button class="btn btn-dark my-3" routerLink="/login" id="loginB" type="submit">Login</button>
      <button class="btn btn-dark" routerLink="/signUp" id="signupB" type="submit">Signup</button>
    </div>
  </div>
</div>










